[Unit]
Description = Listen for connection for apt-cacher

[Socket]
ListenStream = [::1]:3142
Accept = true
FreeBind = true

[Install]
WantedBy = sockets.target

