[Unit]
Description = Metrics store

[Service]
Type = forking
GuessMainPID = false
PIDFile = /run/graphite/carbon-cache-a.pid
ExecStart = /usr/bin/carbon-cache --config=/etc/carbon/carbon.conf start
User = _graphite
Group = _graphite

[Install]
WantedBy = multi-user.target

