[Unit]
Description = PostgreSQL RDBMS server
After = srv-pgsql.mount

[Service]
ExecStart = /usr/lib/postgresql/9.3/bin/postgres -c config_file=/etc/postgresql/9.3/main/postgresql.conf
ExecReload = /bin/kill -HUP $MAINPID
User = postgres
Group = postgres
IOSchedulingClass = realtime
Nice = -10
CPUSchedulingPolicy = rr

[Install]
WantedBy = multi-user.target

