[Unit]
Description = nfsd filesystem
DefaultDependencies = no
ConditionPathExists = /proc/fs/nfsd

[Mount]
What = /proc/fs/nfsd
Where = /proc/fs/nfsd
Type = nfsd
