[Unit]
Description = CalDAV and CardDAV server

[Service]
ExecStart = /usr/bin/radicale -H::1:5232
User = radicale

[Install]
WantedBy = multi-user.target
