[Unit]
Description = IPv6 Router Advertising Daemon

[Service]
ExecStart = /usr/sbin/radvd -u radvd -n -m stderr

[Install]
WantedBy = multi-user.target

