[Unit]
Description = idmapper for NFS
After = var-lib-nfs-rpc_pipefs.mount rpc.nfsd.service
Requires = var-lib-nfs-rpc_pipefs.mount

[Service]
ExecStart = /usr/sbin/rpc.idmapd -f -vvv

[Install]
WantedBy = multi-user.target

