[Unit]
Description = mountd for NFS
After = rpcbind.service

[Service]
ExecStart = /usr/sbin/rpc.mountd -V 4 -V 4.1 -F -d all -N 2 -V 3

[Install]
WantedBy = multi-user.target

