[Unit]
Description = OpsnSSH server

[Service]
ExecStart  = /usr/sbin/sshd -D
ExecReload = /bin/kill -HUP $MAINPID
Restart    = always
RestartSec = 180

[Install]
WantedBy = multi-user.target
