[Unit]
Description = Torrent Daemon

[Service]
ExecStart = /usr/bin/transmission-daemon -f --config-dir /var/lib/transmission-daemon/info
User = debian-transmission
Group = media
Restart = always
RestartSec = 240
IOSchedulingClass = best-effort
IOSchedulingPriority = 7
Nice = 10
CPUSchedulingPolicy = idle

[Install]
WantedBy = multi-user.target

